.about {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 100vw;
}

/* About page team section */
.about-team {
}

.about-team-picture {
  position: relative;
}

.about-team-img {
  max-width: 100vw;
  height: auto;
  width: 100%;
}

.about-team-background {
  position: absolute;
  width: 91%;
  height: 18%;
  bottom: 0;
  background-color: white;
}

.about-team-info {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 20px;
  padding-bottom: 76px;
}

.about-team-title {
  font-family: "League Spartan";
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 21px;
}
.about-team-text {
  font-family: "League Spartan";
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #60636d;
}

.about-break-icon {
  align-self: flex-start;
  padding-left: 32px;
  margin-bottom: 69px;
}

/* About page heritage section */

.about-heritage {
  padding: 0 32px 0 32px;
}

.about-heritage-title {
  font-family: "League Spartan";
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 22px;
}

.about-heritage-text {
  font-size: 18px;
  line-height: 24px;
  color: #60636d;
  font-weight: 500;
  font-family: "League Spartan";
  margin-bottom: 24px;
}

/* About page leaders section */
.about-leaders {
  padding: 0 32px 0 32px;
  width: 100%;
  margin-bottom: 171px;
}

.about-leaders-title {
  font-family: "League Spartan";
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 55px;
}

.about-leaders-profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 79px;
}

.about-leaders-profile-container {
  width: 100%;
  margin-bottom: 79px;
}

.profile-picture {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.profile-name {
  font-family: "League Spartan";
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #1b1d23;
}

.profile-role {
  color: #1b1d23;
  font-family: "League Spartan";
  font-weight: 500;
  font-size: 18px;
  font-size: 24px;
  opacity: 0.75;
}
