.home-footer-background {
  background-color: #eeeff4;
  width: 100%;
  max-width: 100%;
  height: 383px;
}

.home-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 23px;
  bottom: 83px;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0);
}

.home-footer-title {
  padding: 49px 30px 46px 32px;
  background-color: #1b1d23;
}

.home-footer-title:active {
  background-color: #c8ccd8;
}

.home-footer-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #7d828f;
  font-family: "League Spartan";
}

.home-footer-link:visited {
  color: #7d828f;
}

.home-footer-link-last {
  font-family: "League Spartan";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: white;
  background-color: #1b1d23;
  padding: 25px 0 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  width: 252px;
}

.home-footer-link-last:hover {
  background-color: #60636d;
}

.home-footer-link-last:active {
  background-color: #c8ccd8;
}

@media only screen and (min-width: 768px) {
  .home-footer-background {
    height: 120px;
    width: 79%;
    align-self: flex-start;
  }

  .home-footer {
    flex-direction: row;
    bottom: 0;
    left: 0;
    gap: 48px;
  }

  .home-footer-title {
    height: 120px;
    width: 15%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-footer-title:hover {
    background-color: #60636d;
  }

  .home-footer-title:active {
    background-color: #c8ccd8;
  }

  .home-footer-link {
    width: 11%;
  }

  .home-footer-link:hover {
    color: #1b1d23;
  }

  .home-footer-link:active {
    color: #c8ccd8;
  }

  .home-footer-link-last {
  }
}

@media only screen and (min-width: 1145px) {
  .home-footer-background {
    margin-left: 165px;
    margin-right: 165px;
    width: 60%;
  }
  .home-footer {
    padding-left: 165px;
    padding-right: 165px;
  }
}
