.navbar {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 100;
}

.nav-title-link:visited {
  color: #1b1d23;
}

.navbar-title-img {
  height: 32px;
}

.navbar-toggle-icon {
  width: 24px;
  height: 17px;
}

.navbar-toggle-icon:hover {
  cursor: pointer;
}

.nav-links-container {
  position: absolute;
  min-height: 100vh;
  height: 100%;
  top: 100px;
  right: 0px;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.52);
}

.nav-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 40.5px 48px;
  background-color: #eeeff4;
  right: 0px;
  font-family: "League Spartan";
  width: 343px;
  height: 235px;
  gap: 17px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #1b1d23;
}

.nav-link {
  color: #1b1d23;
}

.nav-link:visited {
  color: #1b1d23;
}

.nav-link:active {
  color: skyblue;
}

.tablet {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 56px 0 56px 0;
    justify-content: flex-start;
    gap: 71px;
  }

  .navbar-title-img {
    padding-left: 97px;
  }

  .mobile {
    display: none;
  }

  .tablet {
    display: initial;
  }

  .nav-links-tablet {
    display: flex;
    flex-direction: row;
    gap: 55.5px;
  }

  .nav-link-tablet {
    color: #7d828f;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }

  .side-path-rectangle {
    position: absolute;
    top: 0;
    left: 38px;
    width: 1px;
    height: 104px;
  }

  .side-path-text {
    color: #c8ccd8;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}
