.portfolio {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}

/* Portfolio projects section */

.portfolio-projects {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 128px;
  align-items: center;
}

.portfolio-project-container {
  position: relative;
}

.portfolio-project-img {
  filter: brightness(70%);
}

.portfolio-project-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 24px;
  bottom: 23px;
}

.portfolio-project-name {
  font-family: "League Spartan";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: white;
}

.portfolio-project-date {
  font-family: "League Spartan";
  font-size: 18px;
  line-height: 24px;
  color: white;
  opacity: 0.75;
}

.tablet {
  display: none;
}

/* Portfolio footer section*/

@media only screen and (min-width: 768px) {
  .tablet {
    display: initial;
  }

  .mobile {
    display: none;
  }

  .side-route-title {
    position: fixed;
    top: 148px;
    left: 32px;
  }

  .portfolio-projects {
    margin-bottom: 200px;
  }

  .portfolio-project-info {
    left: 40px;
    bottom: 39px;
  }
}

@media only screen and (min-width: 992px) {
}
